.side-menu {
    margin: 10rem 0 0 0;
    padding: 0;
}

.side-menu ul li {
    list-style: none;
    padding: 1rem;
    border-bottom: 1px solid gray;
    cursor: pointer;
    
}

@media (max-width: 768px) {
    .hide-on-small-screen {
      display: none;
    }
  }